@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Raleway:100,200,300,400,500,600,700,800,900");

* {
	box-sizing: border-box;
}

/* reset css */
html,
body {
  font-family: "Noto Sans", sans-serif;
  margin : 0;
  padding : 0;
}
img {
  width: 100%;
  height: auto;
}
/****************** main css *****************/
#header .logo img{
  padding: 0 1px;
  width: 4em;
  height: 4em;
}
.navbar {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent !important;
}
.nav-link {
  margin: 0 0.5rem;
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #FF8C00;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF8C00;
}
.navbar.scroll-bg {
  background: #0D0707 !important;
  box-shadow: 0px 1px 9px 0px #88888894;
  animation: topDown 1s;
}
@keyframes topDown {
  from {
    top: -30px;
  }

  to {
    top: 0px;
  }
}
.navbar-nav {
  align-items: flex-end;
}
.navbar-light .navbar-toggler {
  color: rgb(255, 255, 255);
  border-color: rgb(221, 221, 221);
  background: #ddd;
}
@media screen and (max-width: 1024px) {
	.nav-link {
    font-size: 10px;
  }
}
/****************** #welcome-section *****************/
#welcome-section {
  background: url(../images/youri.jpg) no-repeat fixed center / cover;
  position: relative;
  display: table;
  width: 100%;
  height: 600px;
  height: 100vh;
}
.about-content {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 0 100px 0;
}
#welcome-section:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.651);
}
.image img {
  border: 6px solid #fff;
  border-radius: 50%;
}
.image {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}
.about-txt h1{
  color: #FF8C00;
}
.about-txt h2{
  color: #FF8C00;
}
.about-txt h1 {
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 900;
}
.about-txt h2{
  padding-top: 2px;
  padding-bottom: 2px;
}
.social-icons {
  margin: 30px 0;
}
.social-icons a i {
  font-size: 1.3rem;
}
.social-icons a {
  font-size: 18px;
  width: 39px;
  height: 39px;
  line-height: 39px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  border: 2px solid #e60a0a00;
  position: relative;
  border-radius: 100%;
  transition: 0.5s;
  z-index: 1;
  color: #FF8C00;
  margin: 0 5px;
}
.social-icons a:before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #FF8C00;
  z-index: -1;
  transform: scale(1);
  border-radius: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.social-icons a:hover,
.social-icons a:focus {
  text-decoration: none;
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}
.social-icons a:hover:before,
.social-icons a:focus:before {
  border-color: #fff;
  transform: scale(1.4);
  opacity: 0;
  filter: alpha(opacity=0);
  transition: 0.4s;
}
.sec-title header {
  position: relative;
}
.sec-title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  background: #fcfcfc;
  padding: 0 30px;
}
.sec-title p {
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;
  margin-top: 0.9em;
  margin-bottom: 5em;
}
.sec-title header:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%);
  background: #2125297a;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
  p.ymii{
    text-align: center;
  }
  .about-txt h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .about-txt h2{
    font-size: 15px;
  }
 
}
/****************** about-me *****************/
#about-me {
  padding: 200px 0 50px 0;
  background: #e8e8e821;
}
.about-me-content {
  margin-top: 40px;
}
.about-me-item {
  border: 1px solid #d6d6d6;
  max-width: 350px;
  margin: 0px auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 0px 10px 30px 10px;
  transition: 0.4s;
}
.about-me-item .icn {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  font-size: 3rem;
  background: #fcfcfc;
  display: inline-block;
  transition: 0.4s;
}
.about-me-item .icn i {
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translate(-50%);
  padding: 0 20px;
  background: #fcfcfc;
}
.about-me-item:hover {
  border-color: #FF8C00;
}
.about-me-item:hover .icn {
  color: #FF8C00;
}
.about-me-item  p{
  font-size: 14px;
 text-align: justify;
}
.about-me-item  h3{
  font-size: 21px;
}
/****************** ma formation *****************/
main{
  margin-bottom: 8em;
}
.formation{
  margin-bottom: 3em;
}
/****************** mes expériences *****************/
a {
	text-decoration: none;
	color: #fff;
}
.container-products-item {
	display: flex;
	flex-wrap: wrap;
	margin: 0 2%;
	align-items: flex-start;
}
.products__item {
	width: 33.33%;
	padding: 2%;
	margin-bottom: 2%;
	opacity: .7;
	transition: .6s;
}
.products__item:hover {
	opacity: 1;
	box-shadow: 0 .3em 1.6em 0 #dfdce3;
}
.product-img {
	width: 100%;
}
.product-desc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product-desc h2 {
	border-bottom: 1px solid #fc4a1a;
	font-size: 1.3em;
	transition: .6s;
}
.product-desc h2:hover {
	border-bottom: 1px solid #FF8C00;
}
.product-desc p {
	margin-bottom: 2%;
	text-align: justify;
	font-size: .8em;
}
.wrap-item-button {
	margin: .9em auto;
	
	text-align: center;
}
.item-button {
	padding: .6em 1.6em;
  background-color: #FF8C00;
  color: #fff;
	border-radius: 25px;
	transition: .6s;
}
.item-button:hover {
	box-shadow: 0 .3em 1.6em .3em #FF8C00;
}
@media screen and (max-width: 860px) {
	.products__item {
		width: 50%;
	}
}
@media screen and (max-width: 480px) {
	.products__item {
		width: 100%;
	}
}
/****************** mes realisations *****************/
.cards-container {
  list-style: none;
  padding: 0; margin: 0;
  margin: auto;
}

/*
 * ### Responsive Layout Rules
 */
@media (min-width: 788px) {
  .cards-container { 
    width: 728px;
  }
  /* Clear Fix */
  .cards-container::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media (min-width: 1166px) {
  .cards-container {
    width: 1106px;
  }
}

/*
 * ## Feature Card Class
 */

[class$='feature-card'] {
  /* Positioning and Sizing */
  position: relative;
  box-sizing: border-box;
  width: 350px; height: 250px;

  /* Alignment */
  margin: 0;
  padding: 32px;

  /* Box Details */
  border-radius: 10px;
  border-top: solid 5px black;
  box-shadow: 2px 5px 20px rgb(0,0,0,0.1);
}
 
/*
 * ### Inner Elements
 */

[class$='feature-card'] h2, [class$='feature-card'] p { margin: 0; }

[class$='feature-card'] img {
  position: absolute;
  bottom: 32px; right: 32px;
}

/*
 * ### Top Border Colors Rules
 */

[class$='feature-card'][class*='cyan'] {
  border-color: hsl(180, 62%, 55%);
}

[class$='feature-card'][class*='red'] {
  border-color: hsl(0, 78%, 62%);
}

[class$='feature-card'][class*='orange'] {
  border-color: hsl(34, 97%, 64%);
}

[class$='feature-card'][class*='blue'] {
  border-color: hsl(212, 86%, 64%);
}

/*
 * ### Responsive Layout Rules
 */

@media (min-width: 788px) {
  [class$='feature-card'] {
    float: left;
  }

  @media (min-width: 1166px) {
    
    [class$='feature-card']:first-child {
      margin: 140px 0;
    }
   
    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(3) {
      margin: 0 22px;
    }

    [class$='feature-card']:last-child {
      margin-top: -110px;
    }

    [class$='feature-card']:nth-child(3) {
      margin-top: 30px;
    }
  }

  @media (max-width: 1165px) {

    [class$='feature-card']:nth-child(3),
    [class$='feature-card']:nth-child(4) {
      margin-top: 30px;
    }

    [class$='feature-card']:nth-child(2),
    [class$='feature-card']:nth-child(4) {
      margin-left: 28px;
    }
  }
}

@media (max-width: 787px) {

  [class$='feature-card'] {
    width: 300px; height: 220px;
    margin: auto;
  }

  [class$='feature-card']:not(:first-child) {
    margin-top: 22px;
  }
}
/****************** mes services *****************/
 #lesservices{
   margin-bottom: 7em;
 }
 p.messervices{
   margin-bottom: -2em;
 }
.y-us-section {
    padding: 82px 0 82px;
}
.y-us-head {
    text-align: center;
    margin: 0 0 91px;
}
.service-3 .service-box {
    margin-bottom: 18px;
}
.service-3 .service-box .iconset {
    float: left;
    text-align: center;
    width: 25%;
}
.service-3 .service-box .iconset i {
    color: #000;
    font-size: 44px;
}
.service-3 .service-box .y-us-content {
    float: left;
    width: 75%;
}
.service-3 .service-box .y-us-content h4 {
    color: #3a3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 14px 0 12px;
    text-transform: uppercase;
}
.service-3 .service-box .y-us-content p {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}
.icon {
    color : #FF8C00;
    padding:0px;
    font-size:40px;
    border: 1px solid #FF8C00;
    border-radius: 100px;
    color: #FF8C00;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}
/*
 * ## Attribution Watermark
 */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
/****************** mes réalisations *****************/
#projects {
  padding: 80px 0;
  background: #e4e4e42e;
}
#projects .sec-title h2 {
  background: #fafafa;
}
.projects-item {
  color: inherit;
}
.project-tile h3 {
  font-size: 1.4rem;
  margin: 0.5rem 0;
  font-weight: 400;
  font-family: Raleway, sans-serif;
}
.projects-item:hover {
  color: inherit;
  text-decoration: none;
}
.project-item {
  color: #212529;
  text-decoration: none;
}
.projects-item:hover {
  color: inherit;
  text-decoration: none;
  box-shadow: 0 0 15px 3px rgba(120, 235, 255, 0.34);
}
.project-img {
  position: relative;
  transition: all ease-in 0.4s;
  overflow: hidden;
}
.project-img:before {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 100;
  font-size: 60px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  z-index: 1;
  opacity: 0;
  transition: all ease-in 0.4s;
  transform: scale(0.9);
}
.project-img:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FF8C00;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all ease-in 0.6s;
}
.projects-item:hover .project-img:before,
.projects-item:hover .project-img:after {
  opacity: 1;
  transform: scale(1);
}
.projects-item {
  box-shadow: 0 0 15px 3px rgba(222, 222, 222, 0.34);
  display: block;
  transition: all ease-in 0.4s;
  max-width: 350px;
  margin: 0 auto 40px auto;
}
.project-item:hover img {
  transform: scale(1.2);
}
.project-img img {
  transform: scale(1);
  transition: all ease-in 0.4s;
}
.projects-item:hover img {
  transform: scale(1.1);
}
.project-tile {
  padding: 10px 0;
}
.projects-content {
  margin-top: 60px;
}
.browse-all-btn {
  margin-top: 20px;
}
/****************** counter *****************/
#counter {
  background: url(../images/youri.jpg) no-repeat fixed center / cover;
  height: 70vh;
  display: table;
  width: 100%;
  position: relative;
}
.counter-content {
  display: table-cell;
  vertical-align: middle;
}
#counter:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
.counter-item i {
  font-size: 2.5rem;
  color: #FF8C00;
}
.counter-item {
  color: #fff;
}
.counter-item h3 {
  font-size: 2rem;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  margin: 1rem 0 0 0;
  color: #f3f3f3;
  position: relative;
  padding-bottom: 1rem;
}
.counter-item h4 {
  font-size: 1.3rem;
  font-family: Raleway, sans-serif;
  font-weight: 200;
  margin: 1rem 0;
  color: #FF8C00;
}
.counter-item h3:before {
  content: "";
  position: absolute;
  width: 10%;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  background: #FF8C00;
}
/****************** contact *****************/
#contact {
  padding: 60px 0;
}
.contact-content .sec-title h2 {
  background: #fff;
}
.contact-info {
  margin-top: 50px;
}
.contact-info-item {
  border: 1px solid #d6d6d6;
  position: relative;
  padding: 40px 10px;
  transition: 0.4s;
  max-width: 350px;
  margin: 40px auto;
}
.contact-info-item i {
  position: absolute;
  font-size: 3rem;
  width: 100px;
  height: 70px;
  background: #fff;
  line-height: 70px;
  text-align: center;
  top: -35px;
  left: 50%;
  margin-left: -50px;
  color: #d6d6d6;
  transition: 0.4s;
}
.contact-info-item h3 {
  margin: 1rem 0;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-info-item:hover {
  border-color: #FF8C00;
}
.contact-info-item:hover i {
  color: #FF8C00;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
}
.contact-form textarea {
  height: 80px;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: transparent;
  outline: 0;
  box-shadow: 0px 5px 5px -3px rgb(253, 253, 253);
}
.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background-color: #FF8C00;
  border-color: #FF8C00;
  box-shadow: 0px 5px 5px -3px rgb(255, 255, 255);
}
.btn-primary {
  color: #212529;
  background-color: transparent;
  border-color: #ddd;
  border-radius: 0;
  padding: 0.5rem 2rem;
}
.contact-form {
  margin: 30px 0;
}
input:focus {
  color:#FF8C00;
}
/****************** Footer *****************/
footer { 
  margin-top: 80px;
}
#footer {
  background: #0D0707;
  padding: 20px 0;
  position: relative;
}
.footer-content .copyright {
  color: #fff;
}
.footer-content .copyright p,
.copyright a {
  color: #9e9e9e;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
}
.back-to-top-btn {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 10px;
  width: 50px;
  height: 50px;
  background: transparent;
  line-height: 45px;
  text-align: center;
  border: 1px solid #FF8C00;
  color: #FF8C00;
  font-size: 1.5rem;
}
/************ responsive media queries ************/
@media screen and (max-width: 1200px) {
  .sec-title header:before {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .counter-content {
    padding: 50px 0;
  }
  #counter {
    height: 0;
  }
  .counter-item {
    max-width: 350px;
    margin: 30px auto;
  }
}
@media screen and (max-width: 650px) {
  .back-to-top-btn {
    top: 0px;
    left: 50%;
    margin-left: -25px;
    margin-top: 0;
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .image img {
    width: 200px !important;
  }
  .about-content {
    padding: 0;
  }
}
