body {
    padding: 0;
    margin: 0;
    border: none;
}
/*------------------------------------------start of my navbar-ymii---------------------------------*/
nav {
  background-color: #000;
  width: 1270px;
}
/*------------------------------------------end of my navbar-ymii---------------------------------*/
/*------------------------------------------start of my header-ymii---------------------------------*/
header{
  background-color: #000;
  width: 1270px;
  height: 500px; 
}

.issouimg{
  width: 300px;
  height: 800px;
  margin-top: -320px;
  margin-left: 960px;
}

h2{
  font-size: 27px;
  margin-left: 457px;
}
/*------------------------------------------end of my header-ymii---------------------------------*/
/*-----------------------------------start of my section-moi-ymii------------------------*/
.tout{
  width: 1270px;
}

.qui{
  width: 600px;
}

/*-----------------------------------end of my section-moi-ymii------------------------*/
/*-----------------------------------mes competences------------------------*/

#SkillBox {
    width: 1270px;  
}
/*-----------------------------------fin  de mes competences------------------------*/
/*------------------------ma formation ymii------------------------------------------- */
.timeline {
  position: relative;
  width: 1270px;
}


.youri {
  top: -6px;
}

.yourii {
  top: -6px;
}

.youm {
  top: -6px;
}

.yourim {
  top: -6px;
}
/*------------------------mes experiences pro-ymii------------------------------------------- */

 #content {
  width: 1270px;
  margin-left: -10px;
}
/*------------------------fin de mon experience pro-ymii------------------------------------------- */
/*------------------------mes realisation------------------------------------------- */

 .realisa-1{
    width: 1270px;
}
/*------------------------fin de mes realisation------------------------------------------- */
/*------------------------mes services------------------------------------------- */
.messervices{
    width: 1270px;
   }


#alsymii{
  margin-left: 70px;
}


#alsyou{
   margin-left: 70px;
}
/*------------------------fin de mes services------------------------------------------- */

/*------------------------mes realisation------------------------------------------- */

 .en-savoir{
     width: 1270px;
}

/*------------------------ fin de mes realisation---------------------------------- */
footer{
  width: 1270px;
}



