body {
  font-family: 'Lato', arial, sans-serif;
  margin: 0;
}
header{
  background-color: #000;
  height: 500px;
  padding-top: 150px;
}

/* -------------------------------------------Slideout Sidebar----------------------------------------*/

.slideout-sidebar {
  position: fixed;
  top: 0;
  left: -190px;
  z-index: 0;
  width: 150px;
  height: 100%;
  padding: 20px;
  background-color: #000;
  transition: all 300ms ease-in-out;
}

.slideout-sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideout-sidebar ul li {
  cursor: pointer;
  padding: 18px 0;
  border-bottom: 1px solid rgba(244,244,244,0.4);
  color: rgba(244,244,244,0.7);
}

.slideout-sidebar ul li:last-child {
  border-bottom: 0;
}

.slideout-sidebar ul li:hover {
  color: rgba(244,244,244,1);
}

/* -------------------------------------------end of my Slideout Sidebar----------------------------------------*/

/* -----------------------------------------------Menu Icon-------------------------------------*/

#menu-toggle {
  display: none;
}

.menu-icon {
  position: absolute;
  top: 18px;
  left: 30px;
  font-size: 24px;
  z-index: 1;
  transition: all 300ms ease-in-out;
}

i{
  color: #ff0000;
}

/*-------------------------------The Magic----------------------------------------------------*/
#menu-toggle:checked ~ .slideout-sidebar {
  left: 0px;
}

#menu-toggle:checked + .menu-icon {
  left: 210px;
}

#menu-toggle:checked ~ .content-container {
  padding-left: 190px;
}
/* ----------------------------------------------- end of my Menu Icon-------------------------------------*/
/*------------------------------------------start of my header-ymii---------------------------------*/



.ligne1{
  margin-left: 420px;
  margin-right: 420px;
  border: 3px solid #fff;
}

.ligne2{
  margin-left: 420px;
  margin-right: 420px;
  border: 3px solid #fff;
}


.issouimg > img{
  position: absolute;
  width: 300px;
  height: 400px;
  margin-top: -213px;
  margin-left: 1000px;;
  color: #fff;
}


.ibaboimg{
  position: absolute;
  margin-right: -50px;
  margin-top: -100px;
  width: 200px;
  height: 400px;
}

h1{
  color: #fff;
  font-size: 30px;
  text-align: center;
}

h2{
  color: #fff;
  font-size: 20px;
  margin-left: 550px;
}

/*------------------------------------------end of my header-ymii---------------------------------*/

/*-----------------------------------start of my section-moi-ymii------------------------*/
.tout{
  height: 800px;
  background-color: #fff;
  margin-top: -30px;
}

.mendo {
  position: absolute;
  width: 400px;
  height: 1000px;
  padding-top: 70px;
  margin-left: 100px;
}

#boxymii{
  padding-top: 220px;
}

.qui{
  padding-top: 11px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  height: 300px;
  background-color: #fff;
  border: 3px solid #fff;
  width: 600px;
  margin-left: 600px;
  text-align: justify;
  box-shadow: 2px 2px 8px 2px;
}

h3{
  margin-left: 15px;
  font-size: 30px;
}

.presenym{
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;

}
/*-----------------------------------end of my section-moi-ymii------------------------*/
/*-----------------------------------mes competences------------------------*/
.ibaboissoudi{
  width: 100%;
  margin: 0 auto;
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  width: 100%;
  height: 650px;
  padding: 40px;    
  background-image: url("assets/images.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.mescoibabo{
   margin-top: 30px;
  color: #fff;
  font-size: 20px;
  text-align: center; 
}

#allfronandbaymii {
  display: flex;
  margin-top: 90px;
}

.frnd{
  width: 45%;
  margin-left: 15px;
}

.bnd{
  width: 45%;
  margin-left: 80px;
}



@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
 }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.bar::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

/*--------------Front-end------------------*/
#front-end{
  color: #fff;
  font-size: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.cotefymii{
  margin-bottom: 12px;
}
.comibabo{
  color: #000;
}

/*-----------color-------*/
.bar.uno::before{
  background-color: #ea8564;
}

.bar.dos::before{
  background-color: #55a69f;
}

.bar.tres::before{
  background-color: #99856d;
}

.bar.cuatro::before{
  background-color: #c44e45;
}
.bar.cinco::before{
  background-color: #5aa669;
}


/*-----------color-------*/
.bar.uno::before{
  width: calc(90% - 10px);
  height: 15px;
}

.bar.dos::before{
  width: calc(95% - 10px);
  height: 15px;
}
.bar.tres::before{
  width: calc(85% - 10px);
  height: 15px;
}
.bar.cuatro::before{
  width: calc(80% - 10px);
  height: 15px;
}
.bar.cinco::before{
  width: calc(95% - 10px);
  height: 15px;
}
/*--------------Back-end---------------------------*/
.iba{
  background-color: #EEE;
  padding: 2px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.iba::before{
  content:  attr(data-skill);
  background-color: #f3b0ff;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}


#Back-end{
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-bottom: 15px;
}

.cotebacymii{
  margin-bottom: 12px;
}
.comyouri{
  color: #000;
}

/*-----------color-------*/
.iba.seis::before{
  background-color: #970cc1;
}

.iba.siete::before{
  background-color: #8e930c;
}

.iba.ocho::before{
  background-color: #5A69A6;
}

.iba.nueve::before{
  background-color: #23b1db;
}
.iba.diez::before{
  background-color: #f8a51e;
}


/*-----------color-------*/

.iba.seis::before{
  width: calc(90% - 10px);
  height: 15px;
}

.iba.siete::before{
  width: calc(65% - 10px);
  height: 15px;
}
.iba.ocho::before{
  width: calc(80% - 10px);
  height: 15px;
}
.iba.nueve::before{
  width: calc(90% - 10px);
  height: 15px;
}
.iba.diez::before{
  width: calc(95% - 10px);
  height: 15px;
}

/*------------------------mes competences-----------------------------------------*/

/*------------------------ma formation ymii---------------------------------------*/

* {
  box-sizing: border-box;
}

.maformation{
  padding: 70px;
}

.pmaforma{
  margin-top: -70px;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.timeline {
  position: relative;
  width: 100%;
  height: 1300px;
  background-color: #556b2f;
  margin-top: -30px;
 }

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: lightgrey;
  top: 250px;
  bottom: 30px;
  left: 50%;
  margin-left: -3px;
  height: 810px;
}

.mendoza {
  padding: 10px 50px;
  position: relative;
  background-color: inherit;
  width: 50%;
  height: 10%;
  margin-top: 80px;
}

.oc{
  padding-top: 4px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  color: #000;
  background-color: #fff;
  border: 3px solid #a87a7d;
  width: 380px;
  margin-left: 195px;
  margin-top: 70px
}

.certi{
  padding-top: 4px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  color: #000;
  background-color: #fff;
  border: 3px solid #007962;
  width: 380px;
  margin-top: 70px;
  margin-left: -1px;
}

.lp{
  padding-top: 4px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  color: #000;
  background-color: #fff;
  border: 3px solid #3eb3e5;
  width: 380px;
  margin-left: 195px;
  margin-top: 70px
}

.bac{
  padding-top: 4px;
  border-style: solid;
  border-radius: 4px;
  text-align: center;
  height: 35px;
  color: #000;
  background-color: #fff;
  border: 3px solid #fb957f;
  width: 380px;
  margin-top: 70px;
  margin-left: -1px;

}

.mendoza:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #a87a7d;
  border: 2px solid #fff;
  top: 82px;
  margin-bottom: 100px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0%;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 87px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 87px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.right::after {
  left: -16px;
}

.youri {
  padding: 13px;
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
  border: 3px solid #a87a7d;
  width: 380px;
  height: 80px;
  text-align: center;
  margin-right: -10px;
  left: 195px;
  top: -6px;
}

.yourii {
  padding: 13px;
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
  border: 3px solid #007962;
  text-align: center;
  width: 380px;
  height: 80px;
  top: -6px;
}
.youm {
  padding: 2px;
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
  border: 3px solid #3eb3e5;
  width: 380px;
  text-align: center;
  height: 80px;
  left: 195px;
  top: -6px;
}

.yourim {
  padding: 13px;
  background-color: #FFF;
  position: relative;
  border-radius: 6px;
  border: 3px solid #fb957f;
  text-align: center;
  width: 380px;
  height: 80px;
  top: -6px;
}

@media screen and (max-width: 200px) {
  .timeline::after {
    left: 31px;
}

.mendoza {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    background-color: blue;
}

.mendoza::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

  .left::after, .right::after {
    left: 15px;
}

.right {
    left: 0%;
}
}

.ymiitext{
  color: #000;
  font-size: 17px;
}

 /*------------------------fin de ma formation ymii------------------------------------------- */

 /*------------------------start de mon experience pro-ymii------------------------------------------- */

.expymii{
  font-size: 20px;
  padding-bottom: 30px;
}
.mesexperiences{
  margin-top: 55px;
  padding-top: 40px;
  color: #000;
}

img {
  width: 100%;
}

.caption,
h5,
.date {
  margin: 0;
  text-align: center;
  color: red;
}

.caption,
h5 {
  font-family: "Reenie Beanie", sans-serif;
  font-size: 2em;
  padding: 10px 10px 0 10px;
}

.caption-1{
  font-family: "Reenie Beanie", sans-serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: red;
  margin-top: 3px;
 
}


.caption-2{
  font-family: "Reenie Beanie", sans-serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
  color: red;
  margin-top: 3px;
 
}

.date {
  font-size: 1em;
  margin-top: 10px;
}

.description {
  font-size: 0.8em;
  padding: 0 20px 20px 20px;
  text-align: left;
  color: black;
  text-align: justify;
  letter-spacing: -0.5px;
}

.container {
  perspective: 1000px;
  display: inline-block;
  margin: 2%;
}

.container:hover .flipper {
  transform: rotateY(180deg);
}

.container,
.front,
.back {
  width: 250px;
  height: 250px;
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front-1,
.back-1 {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-bottom: 18px solid #f9db8c;
  padding-bottom: 20px;
}


.front-2,
.back-2 {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-bottom: 18px solid #3eb3e5;
}


.front-3,
.back-3 {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-bottom: 18px solid #fb957f;
}


.front-4,
.back-4 {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 480px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
  border-bottom: 18px solid #e272ae;
}

.front-1 {
  z-index: 2;
}

.front-2 {
  z-index: 2;
}

.front-3 {
  z-index: 2;
}

.front-4 {
  z-index: 2;
}

.back-1 {
  transform: rotateY(180deg);
}

.back-2 {
  transform: rotateY(180deg);
}

.back-3 {
  transform: rotateY(180deg);
}

.back-4 {
  transform: rotateY(180deg);
}

#content {
  text-align: center;
  background-color: inherit;
  height: 560px;
}

div > img {
  width: 90%;
  height: 50%;
  padding: 12px;
  margin-top: 20px;
}

div >
.caption {
  padding: 30px;
}


 /*------------------------fin de mon experience pro-ymii---------------------------- */
 /*------------------------mes realisation------------------------------------------- */

 .realisa-1{
    padding-top: 80px;
    margin-top: 230px;
    background-image: url("assets/service.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 1000px;
}

.reali{
  text-align: center;
  font-size: 20px;
  color: #fff;
}
/*------------------------ fin de mes realisation---------------------------------- */

/*------------------------mes services------------------------------------------- */

.messervices{
    padding-top: 100px;  
    background-image: url("assets/images.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 1000px;
}

.servi{
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: -2px;
  padding-bottom: 60px;
}


#alsymii{
  position: absolute;
  display: flex;
  word-spacing: 30px;
  color: #fff;
  justify-content: center;
  margin-left: 110px;

}
.ser1{
   box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}


.ser2{
  box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}


.ser3{
   box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}

.ser4{
  box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}

#alsyou{
  margin-top: 300px;
  position: absolute;
  display: flex;
  word-spacing: 30px;
  color: #fff;
  justify-content: center;
  margin-left: 110px;
}

.syo5{
   box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}


.syo6{
  box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}


.syo7{
   box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}

.syo8{
  box-shadow: 2px 2px 8px 2px;
  background-color: #fff;
  width: 250px;
  height: 250px;
  color: #000;
  margin-right: 40px;
  text-align: center;
  padding-top: 120px;
  border-bottom-right-radius: 60px;
  border-top-left-radius: 60px;
}



/*------------------------fin de mes services------------------------------------------- */
/*------------------------mes realisation------------------------------------------- */

 .en-savoir{
  background-color: #556b2f;
  width: 100%;
  height: 200%;
  margin-top: -27px;
}
.plus-sur{
  padding-top: 70px;
  text-transform: uppercase;
  opacity: .29;
  animation: pulse 3s linear alternate infinite;
}

/*------------------------ fin de mes realisation---------------------------------- */

/*------------------------ start_qui_suis-je_?---------------------------------- */

.contai {
  position: relative;
  width: 24px;
  height: 24px;
  padding-bottom: 300px;
  margin-left: 55px;
}

.chevron {
  position: absolute;
  width: 50px;
  height: 7px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
  margin-left:600px;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

.text {
  display: block;
  margin-top: 75px;
  margin-left: 540px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*------------------------ end_qui_suis-je_?---------------------------------- */



.arrow-container{
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  top: 1040%;
  left: 0;
  right: -17px;
}

.arrow-1{
  margin-left: -40px;
  width: 170px;
  height: 170px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  opacity: .3;
  animation: pulse 2s linear alternate infinite;
}

.arrow-2{
  width: 90px;
  height: 90px;
  background: #9370db;
  border-radius: 50%;
  border: 6px solid #fff;
  position: absolute;
  top: 40px;
  left: 1px;
  z-index: 1;
  display: table;
  opacity: .25;
  animation: pulse 3s linear alternate infinite;

}

.arrow-2 a{
  display: flex;
  font-size: 17px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  text-decoration: none;

}

.arrow-2 > a:hover{
  border-radius: 50%;
  padding: 21px;
  background-color: #9370db;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  animation: pulse 2s linear alternate infinite;
}

.animated.hinge {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
            transform: scale3d(.4, .4, .4);
  }

  50% {
    opacity: 0.5;
  }
  
  100% {
    opacity: 0;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
}
/*------------------------ end_qui_suis-je_?---------------------------------- */

footer{
  background-color: #000;
  width: 100%;
  height: 300px;
  margin-bottom: -2%;
  }

.contaiym{
  margin-top: -200px;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
}

.contenym{
  padding: 90px;
  text-align: center;
}



.fa-facebook{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}

.fa-facebook:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}
.fa-facebook{
  margin-right: 12px;
}

.fa-twitter{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}
.fa-twitter:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}
.fa-twitter{
  margin-right: 12px;
}

.fa-linkedin{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}
.fa-linkedin:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}
.fa-linkedin{
  margin-right: 12px;
}

.fa-instagram{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}
.fa-instagram:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}
.fa-instagram{
  margin-right: 12px;
}

.fa-github{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}

.fa-github:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}
.fa-github{
  margin-right: 12px;
}

.fa-google{
  background-color:  #9370db;
  color: #fff;
  padding:20px;
  width: 18px;
  height: 18px;
  padding-bottom: 30px;
  padding-right: 30px;
  text-decoration: none;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: all .3s;
}
.fa-google:hover{
  background: #333;
  border: 2px solid #333;
  opacity: .9;
  transform: rotate(360deg);
  box-shadow: 2px 2px 24px #fff;
}

.coordonne{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #9370db;
  margin-top: -30px;
  margin-bottom: 70px;
}
.copy{
  text-align: center;
  font-size: 12px;
  color: #9370db;
}

footer > img {
  position: relative;
  margin-top: 110px;
  margin-left: 20px;
  margin-bottom: -40px;
  width: 100px;
  height: 100px;
  border: 5px solid #9370db;;
}

#logoibabo > img{
  position: relative;
  margin-top: -195px;
  margin-left: 1220px;
  margin-bottom: -18px;
  width: 100px;
  height: 100px;
  border: 5px solid #9370db;;
}
/*-----------------------------------start of my media query-ymii----------------------- */
/*------------------------------Media Queries-------------------------------------------------*/

@media (max-width: 150px) {
  
  .content-container {
    max-width: 480px;
  }
  
}

@media (max-width: 300px) {
  
  .content-container {
    max-width: 100%;
    margin: 30px auto 0;
  }
  
  #menu-toggle:checked ~ .content-container {
    padding-left: 0;
  }
  
  .slideout-sidebar ul {
    text-align: center;
    max-width: 200px;
    margin: 30px auto 0;
  }
  
  .menu-icon {
    left: 20px
  }
  
  #menu-toggle:checked ~ .slideout-sidebar {
    width: 100%;
  }
  
  #menu-toggle:checked + .menu-icon {
    left: 87%;
    color: #fafafa;
  }
  
  @media screen  
    and (max-width: 736px) 
    and (orientation: landscape) {
      
      .slideout-sidebar {
        padding: 0;
      }
      
      .slideout-sidebar ul {
        max-width: 100%;
        margin: 60px auto 0;
      }
      
      .slideout-sidebar ul li {
        display: inline-block;
        border-bottom: 0;
        width: 72px;
        padding: 18px 24px;
        margin: 0 6px 12px;
        color: #ffffff;
        background-color: #777;
      }

  }
  
}

/*------------------------------end of my Media Queries-------------------------------------------------*/
